body {
    background-color: #222222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100vh
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-width: 1px;
    width: 100%;
    background-color: #cecece;
}


th, td {
    border: 1px solid #000000;
    text-align: left;
    padding: 12px;

}

.code {
    font-family: "Courier New", Courier, monospace;
}

td.code {
    font-size: large;
    font-weight: bold;
    color: #000000;
}

button {
    font-weight: 750;
    background-color: #fdaa3e;
    color: #222;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: rgb(253, 193, 114);
}

tr:not(.header):hover {
    background-color: #aaaaaa;
}

.header {
    background-color: #aaaaaa;
}